#createGraphicButton {
	width: 100px;
	height: 30px;
}

* {
	box-sizing: border-box;
}

.grid__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: 80px;
	width: 1120px;
	height: 590px;
	background-color: #262230;
	border-radius: 20px;
	border: 1px solid
		linear-gradient(
			107.13deg,
			#b4a0e6 11.28%,
			rgba(202, 148, 255, 0) 38.99%,
			rgba(155, 73, 193, 0) 80.03%,
			#8159b3 92.71%
		);
	overflow: visible;
	margin-bottom: 100px;
}

.grid__wrapper_inner {
	display: flex;
}

.grid__container {
	display: grid;
	width: 980px;
	height: 489.5px;
	overflow: auto;
	grid-template-rows: repeat(12, 27px); /* 3 строки */
	grid-template-columns: repeat(5, 86px);
	row-gap: 10px;
}

.grid__container-month {
	display: grid;
	width: 86px;
	row-gap: 10px;
	grid-template-rows: repeat(12, 27px); /* 3 строки */
	grid-template-columns: repeat(1, 86px);
	margin-right: 12px;
}

.grid__container_item {
	background: linear-gradient(
		180deg,
		#853ff8 -26.42%,
		#a32ff7 56.91%,
		rgba(102, 42, 148, 0.72) 86.98%,
		rgba(42, 37, 52, 0.24) 116.26%
	);
	width: 86px;
	border-radius: 4px;
}

.grid__container_item-colored {
	background-color: #2f293b;
	height: 27px;
	width: 86px;
	border-radius: 4px;
}

.grid__text {
	display: flex;
	align-items: center;
	width: 86px;
	height: 27px;
	font-family: "ProximaNova", Sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15.2621px;
	line-height: 19px;
	color: #ffffff;
}

.grid__text_percent {
	justify-content: flex-end;
}

.grid__text_month {
	justify-content: center;
}

.grid__container::-webkit-scrollbar {
	height: 6px;
}
.grid__container::-webkit-scrollbar-track {
	background: #62507b; /* цвет дорожки */
	border-radius: 25px;
}
.grid__container::-webkit-scrollbar-thumb {
	background: linear-gradient(240.95deg, #853ff8 25.01%, #af29f7 87.93%);
	border-radius: 20px;
}

.grid__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1050px;
	height: 32px;
	margin: 30px 0 41px;
	font-family: "ProximaNova", Sans-serif;
	font-style: normal;
	color: #ffffff;
	font-feature-settings: "liga" off;
}

.grid__header_text-big {
	margin-left: 90px;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
}

.grid__header_text-small {
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
}
